@font-face {
    font-family: "ID UNIVERSITY";
    src: url("../fonts/UNIVERSITY.ttf");
}
@font-face {
    font-family: "Kelly sla";
    src: url("../fonts/KellySlab-Regular.ttf");
}
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
.menu label{
    margin-bottom:0 !important;
    height: 42px;
}
.menu label:hover{
    background: #B28721;
}

input{
    outline:none;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

body{
    font-family: Calibri;
}
.header-top, .header-bottom{
    background: #016241;
    color:white;
    transition:0.4s;
}
.header-top .namaztime{
    border-left: 1px solid #5ea28b;
}

.header-top .namaztime:last-child{
    border-right: 1px solid #5ea28b;
}
.header-top .namaztimes-column{
    text-transform: uppercase;
}

.header-top .namaztimes-column .active{
    background: #B28721;
}
.header-top .namaztime .lines .active{
    width: 16.6%;
    height: 7px;
    border-right: 1px solid white;
}
.header-top .namaztimes-column .arrow{
    border-right:4px solid transparent;
    /*border-bottom:5px solid #016241;*/
    border-bottom:5px solid #fff;
    border-left:4px solid transparent;
    height:0;
    width:0;
    top: 10px;
    left: 40px;
    position: absolute;

}
.header-top li:last-child{
    border-right:1px solid #5EA28B;
}
.header-top .namaztime .line{
    width: 16.6%;
    height: 7px;
    border-right: 1px solid #5ea28b;
}
.header-top .namaztime .line:last-child{
    border-right: 0;
}
.header-top .namaztime .name-and-time{
    padding: 5px 6px 5px 5px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.header-top .btn-search{
    background-color: transparent !important;
    border-color: transparent !important;
    outline: 0 !important;
    font-size: 18px;
    font-weight: bold;
}

.header-center{
    background-image: url('../img/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:232px;
    position: relative;
    width:100%;
}
.header-center .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 232px;
    background: rgba(225,225,225,0.7);
}
.header-center .logo{
    width:200px;
}
.header-center .carousel .carousel-item{
    height:200px !important;
}

.header-center .carousel-item .text{
    color: #016241;
    font-size:30px;
    font-weight: bold;
    font-family: "ID UNIVERSITY";
    margin-bottom: 0;
}
.header-center .carousel-item .hadis{
    color:#B28721;
    font-size: 26px;
    font-family: "ID UNIVERSITY";
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 }
.header-center .carousel-item .kuntizbe{
    color: #016241;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: bold;
    font-family: "ID UNIVERSITY";
    margin-right:-15px;
}
.m-bot-0{
    margin-bottom:0;
}
.header-center .carousel-item .kuntizbe:hover{
    text-decoration: underline;
    cursor: pointer;
}
.header-center .carousel-item .kuntizbe a{
    color: #016241;
}
.header-center .carousel-item .history-block{
    color: #016241;
    font-size: 20px;
    font-weight: bold;
    font-size:20px;
}
.today-in-history{
    color:#B28721;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.font-w-nor{
    font-weight:normal;
    margin-top:2px;
}
.date-column{
    display: flex;
    align-items: center;
}
.date{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0!important;
}
.city-search .dropdown button{
    background: transparent;
    border-color: transparent;
}
.header-bottom .menu{
    position: relative;
}
.header-bottom .menu-item{
    padding: 9px 26px 9px 28px;
    border-left:1px solid #5EA28B;
    text-transform: uppercase;
    font-weight:bold;
}
.header-bottom .menu-item:hover{
    /*background: #B28721;*/
    cursor: pointer;
}
.header-bottom li:first-child{
    border-left: none;
    padding-left:15px;
}
.header-bottom li:last-child{
    padding: 6px;
}
.header-bottom .menu-item .burger-left, .header-bottom .burger-center i{
    margin-right: 5px;
}


.fixed-menu-close{
    position: fixed;
    top: -42px;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
}
.fixed-menu-close-to575{

}
.fixed-menu-open{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
    box-shadow: 0 10px 10px 0 rgba(128,128,128,0.55) !important;;
}
.main-top{
    padding-top:42px;
}

/*Search input*/
.search-form{
    display: flex;
    flex-direction: row-reverse;
}
.search-box{
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    top: 6px;
    right: 15px;
}


.search-box .search-input{
    border: none;
    background: none;
    width:0;
    padding: 0;
    height: 30px;
    transition: .4s;
    position: absolute;
    z-index: 1;
}

.search-box .search-button{
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.7s;
    background: transparent;
    z-index:2;
}
.search-box .search-button:focus{
    outline:none !important;
}
.search-box .search-button .fa-search{
    color:white;
    transition:0.4s;
}
.search-box .search-button .bi-search{
    color:white;
    transition:0.4s;
}


/*MAIN*/
#main{
    background: url("../img/background.png") repeat;
    background-size: 150px;
    /*transition:0.4s;*/
}
.content{
    background: #fff;
    border-right: 1px solid #E0E2E1;
    padding:0;
}
.shadow{
    box-shadow: -15px 3px 15px 0 rgba(128,128,128, 0.35),
    15px 3px 15px 0 rgba(128,128,128,0.35) !important;
}

.content-top{
    border-bottom:1px solid #e0e2e1;
}
.breadcrumb a, .breadcrumb li{
    color:#B2B4B3 !important;
}

.breadcrumb ol{
    padding-left: 18px;
}
.content-top .settings .fas{
    padding:5px;
    color:#016241;
    font-size: 18px;
}
.content-top .settings .fas:hover{
    padding:5px;
    color:white;
    background:#016241;
}
.social-icons-block{
    padding: 18px;
}
.icon-share{
    padding-top:10px;
    border-top:2px solid #016241;
}
ion-icon{
    color: white;
}
.rotate-90{
    display: inline-block;
    transform: rotate(180deg);
}
.article-content{
    border-bottom:1px solid #e0e2e1;
    padding:20px;
}
.article-content:last-child{
    /*border-bottom: 0;*/
}
.article-content .type{
    text-transform: uppercase;
    color: #016241;
    font-weight: bold;
}
.article-content .title{
    color: #B28721;
    font-size: 20px;
    font-weight: bold;
}
.article-content .description, .article-content .text{
    color:#2D2C2A;
    font-size: 18px;
}
.article-content .category{
    text-transform: uppercase;
    color: #B2B4B3 !important;
    font-weight:bold;
    margin-bottom:0 !important;
}
.article-content .detail{
    padding: 5px 15px;
    border: 1px solid #016241;
    color: #016241;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:0 !important;
}
.article-content .detail:hover{
    padding: 5px 15px;
    border: 1px solid #B28721;
    background: #B28721;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.article-content .your-question textarea{
    width:100%;
    border: 2px solid #B28721;
    padding: 0 7px;
}
.article-content .your-question .col-md-3{
    padding-left:0;
}
.article-content .your-question .col-md-3 input{
    width: 100%;
    margin-bottom: 17px;
    border: 2px solid #B28721;
    padding: 5px 7px;
}

.article-content .your-question .col-md-3 input[type="submit"]{
    margin-bottom:0;
    background: #B28721;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}



/*SIDEBAR*/
.sidebar{
    background: #fff;
}
.sidebar .widget{
    border: 2px solid #016241;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar .widget-title {
    background: #016241;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.sidebar .subscribe{
    text-align: center;
}
.sidebar .quantity-subscribers h5{
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    color:#B28721;
}
.sidebar .for-newsletter{
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #B28721;
}
.sidebar .input-email{
    display: block;
    width: 85%;
    margin: 0 auto 5px;
    border: 1px solid #016241;
    padding: 5px 8px;
}
.sidebar .btn-subscribe{
    width: 85%;
    background: #016241;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 0;
    transition: all 0.3s;
}
.sidebar .btn-subscribe:hover{
    width: 85%;
    background: #B28721;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 0;
}
.sidebar .quantity-subscribers{
    font-size: 40px;
    letter-spacing: 10px;
    color: #016241;
    font-family: Kelly sla;
}
.sidebar .last-inserted ul{
    padding-left:15px;
    padding-right:15px;
}
.sidebar .widget ul li{
    padding-bottom:10px;
}
.sidebar .widget ul li i{
    margin-right:10px;
    color: #016241;
}
.sidebar .widget ul li a{
    color: #2d2c2a;
    text-transform: uppercase;
    text-decoration: none;
}
.sidebar .sura-dua-img, .sidebar .kibla-img{
    padding:10px;
}
.sidebar .sura-dua .widget-title{
    color: #fff;
}


/*FOOTER*/
.footer-top{
    background: rgba(1,98,65, 0.9);
    border-top: 5px solid #B28721;
    border-bottom: 5px solid #B28721;
}
.footer-top .logo-footer{
    width: 150px;
    padding-right: 20px;
    border-right: 2px solid white;
}
.footer-top .contact{
    padding-left: 20px;
}
.footer-top .contact p, .footer-top .total-guests p{
    margin-bottom: 0 !important;
}
.footer-top .contact, .footer-top .guests{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.footer-top .social-pages{
    margin-bottom: 0 !important;
}
.footer-top .social-pages li{
    margin-left: 15px;
}
.footer-top .social-pages li:first-child{
    margin-left: 0;
}
.footer-top .social-pages a{
    color: white;
}
.footer-top .social-pages a:hover{
    color: white;
}
.footer-bottom{
    background: #173B2F;
    opacity: 0.9;
    color: white;
    font-size:18px;
}

@media(min-width: 992px) and (max-width: 1199px){
    .header-center .logo {
        width: 170px;
    }
    .city-search-column{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-bottom .menu-item {
        padding:9px 12px 9px 20px;
    }
    .article-content .type{
        font-size: 26px;
    }
    .sidebar .widget ul li a{
        font-size:15px;
    }
}

@media(min-width: 768px) and (max-width:991px){
    .header-top .namaztimes-column ul{
        border-top:1px solid #fff;
    }
    .header-top .date{
        font-size:16px;
    }
    .header-top .city-search-column{
        display: flex;
        justify-content:flex-end;
    }
    .header-bottom .menu-item{
        border-left:0;
    }
    #real-accessability ul{
        background: transparent !important;
        display: flex;
        align-items:center;
    }
    #real-accessability ul li{
        border-right:0;
    }
    .header-top .namaztime .name-and-time{
        padding: 4px 17px 5px 17px;
        font-size: 15px;
    }
    .header-center .carousel-caption{
        bottom:10px;
    }
    .header-center .carousel-item .text{
        line-height: 1.2;
    }
    .header-center .carousel-item .hadis,
    .header-center .carousel-item .kuntizbe{
        font-size: 24px;
    }

}

@media(min-width:576px) and (max-width:767px){
    .header-bottom .menu-item{
        border-left:0;
    }
    .header-top .namaztimes-column ul{
        border-top:1px solid #fff;
    }
    .header-bottom .menu-item {
        padding: 9px 10px 9px 10px;
    }
    .header-center .carousel-item .text {
        font-size:25px;
        line-height:0.8;
    }
    .article-content .your-question .col-md-3{
        padding-left:15px;
    }
    .article-content .your-question textarea{
        margin-bottom: 10px;
    }
}
@media(max-width:575px){
    .header-top .date-column{
        padding-top:10px;
    }
    .header-top .namaztime .name-and-time {
        padding: 5px 11px 5px 10px;
    }
    .header-top .namaztimes-column {
        padding-left:0;
        padding-right:0;
    }
    .header-top .namaztimes-column ul{
        border-top:1px solid #fff;
    }
    .header-top .namaztime .name-and-time{
        font-size:14px;
    }
    .header-top .date-column{
        justify-content: center;
    }
    .header-top .city-search-column{
        display: flex;
        justify-content: center;
    }
    .header-center .carousel-item .text {
        font-size:30px;
        line-height:1;
    }
    .header-bottom .menu-column{
        padding:0;
    }
    .header-bottom .menu{
        padding:0 7px;
    }
    .header-bottom .menu-item{
        border-left:0;
    }
    .header-bottom .burger-center{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .article-content .category, .article-content .detail{
        font-size:13px;
    }
    .article-content .your-question .col-md-3{
        padding-left:15px;
    }
    .article-content .your-question textarea{
        margin-bottom: 10px;
    }
}
